---

#  mplfinance IPYMPL

---

In [1]:
%matplotlib widget

In [2]:
# This allows multiple outputs from a single jupyter notebook cell:
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

In [3]:
#%matplotlib inline
import pandas as pd

In [4]:
import mplfinance as mpf
mpf.__version__

'0.12.7a18'

In [5]:
import glob

In [6]:
df = pd.read_csv('../data/SP500_NOV2019_Hist.csv',index_col=0,parse_dates=True)
df = pd.read_csv('../data/yahoofinance-SPY-20200901-20210113.csv',index_col=0,parse_dates=True)

In [7]:
df.shape
df.head()
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-06,369.709991,376.980011,369.119995,373.549988,373.549988,107997700
2021-01-07,376.100006,379.899994,375.910004,379.100006,379.100006,68766800
2021-01-08,380.589996,381.489990,377.100006,381.260010,381.260010,71677200
2021-01-11,377.850006,380.579987,377.720001,378.690002,378.690002,51176700
2021-01-12,378.890015,379.859985,376.359985,378.769989,378.769989,52445000

In [8]:
mpf.plot(df,type='candle',volume=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [9]:
import matplotlib.pyplot as plt

In [10]:
plt.scatter(df.index.values,df['Close'].values)
plt.show()